<section class="grid md:grid-cols-2 xl:grid-cols-2 gap-6 mt-4 w-full">
    <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-semibold mb-4">Sales Activity</h2>
        <div class="grid grid-cols-4 gap-4 text-center">
            <div class="divide-x" *ngFor="let item of salesActivity">
                <span class="text-4xl font-bold" [ngClass]="item.color">{{ item.qty }}</span>
                <p class="text-gray-500">{{ item.label }}</p>
            </div>
        </div>
    </div>

    <div class="sm:w-2/5 md:w-4/5 bg-white rounded-lg shadow-md p-4">
        <h2 class="text-xl font-semibold mb-4">Inventory Summary</h2>
        <div class="md:flex sm:block justify-between">
            <div>
                <p class="text-gray-500">QUANTITY IN HAND</p>
                <span class="text-4xl font-bold">{{inventorySummary.quantityInHand }}</span>
            </div>
            <div>
                <p class="text-gray-500">QUANTITY TO BE RECEIVED</p>
                <span class="text-4xl font-bold">{{ inventorySummary.quantityToBeReceived }}</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="md:w-2/4 lg:w-1/4 bg-white rounded-lg shadow p-4">
        <div class="flex justify-between">
            <div>
                <p class="text-xl font-semibold mb-4">Categories</p>
                <span class="grid" *ngFor="let category of categories">{{category.name}}</span>
            </div>
            <div>
                <p class="text-xl font-semibold mb-4">Inventory</p>
                <span class="grid" *ngFor="let category of categories">{{category.inventory}}</span>
            </div>
        </div>
    </div>
</section>